<div style="text-align: center;">
    <h1>PROSZE CZEKAC</h1>
    <h2>Trwa wyszukiwanie</h2>
    <div class="bs-component">
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%"></div>
        </div>
    </div>
    <div>
        <p>Staus:</p>
        <p ng-repeat="status in statusText" style="color: green;">{{status}}</p>
        <p><span>Minęło: </span><span>{{secondsElapsed}}</span><span> sekund</span></p>
    </div>
</div>