<div class="well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <legend style="text-align: center;">Formularz zapytania przestrzennego</legend>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios1" value="srcPlaceRadio" ng-click="setEnabledMode(radio1)" ng-model="radio1" ng-checked="true">
                            Nazwa
                        </label>
                    </div>
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios2" value="srcPlaceCoordsRadio" ng-click="setEnabledMode(radio2)" ng-model="radio2">
                            Współrzędne
                        </label>
                    </div>
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" name="optionsRadios" id="optionsRadios3" value="srcActualPositionRadio" ng-click="setEnabledMode(radio3)" ng-model="radio3">
                            Aktualna pozycja
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="sourcePlace" class="col-lg-4 control-label">Nazwa miejsca startowego: </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" id="sourcePlace" placeholder="Nazwa" ng-model="queryModel.srcPlaceName" ng-disabled="!isSourcePlaceEnabled">
                </div>
            </div>
            <div class="form-group" style="border-bottom-color: black; border-bottom-width: 2px;">
                <label for="latitude" class="col-lg-4 control-label">Współrzędne miejsca startowego: </label>
                <div class="col-lg-4">
                    <input type="number" class="form-control" id="latitude" pattern="[0-9]+([,\.][0-9]+)?" step="0.00001" placeholder="Lat" ng-model="queryModel.srcPlaceLat" ng-disabled="!isSourceCoordsEnabled">
                </div>
                <div class="col-lg-4">
                    <input type="number" class="form-control" id="longitude" pattern="[0-9]+([,\.][0-9]+)?" placeholder="Lon" step="0.00001" ng-model="queryModel.srcPlaceLon" ng-disabled="!isSourceCoordsEnabled">
                </div>                        
            </div>                      
            <div class="form-group">
                <label for="targetPlace" class="col-lg-4 control-label">Nazwa miejsca docelowego: </label>
                <div class="col-lg-6">
                    <input type="text" class="form-control" id="targetPlace" placeholder="Nazwa" ng-model="queryModel.tgtPlaceName">
                </div>
                <div class="col-lg-2">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="queryModel.isTargetRegxpName"> Regexp
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="objectTypeSelect" class="col-lg-4 control-label">Rodzaj szukanego obiektu: </label>
                <div class="col-lg-8">
                    <select class="form-control" id="objectTypeSelect" ng-model="queryModel.targetObjectType">
                        <option ng-repeat="o in objectsTypeToSearch">{{o}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="keyName" class="col-lg-4 control-label">Klucz - wartość: </label>
                <div class="col-lg-4">
                    <select class="form-control" id="keyName" ng-model="queryModel.objectKeyToSearch" ng-change="loadNewValuesSet()">
                        <option ng-repeat="(key, value) in keyValueHashMap">{{key}}</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    <select class="form-control" id="valueName" ng-model="queryModel.objectValueToSearch">
                        <option ng-repeat="o in valuesArrayToDisplay">{{o}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group"> 
                <div class="col-lg-2 col-lg-offset-4">
                    <span class="btn btn-success" ng-click="addKeyValueTuple()">+ Dodaj</span>
                </div>
                <div class="col-lg-2">
                    <span class="btn btn-danger" ng-click="removeKeyValueTuple()">- Usuń</span>
                </div>
            </div>
            <div class="form-group">                        
                <div class="col-lg-8 col-lg-offset-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Klucz</th>
                                <th>Wartość</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in keyValueTupleArray" style="cursor: pointer;" ng-click="setSelected(item.key)" ng-class="{selected: item.key === keySelected}">
                                <td>{{item.key}}</td>
                                <td>{{item.value}}</td>
                            </tr>                                    
                        </tbody>
                    </table> 
                </div>
            </div>                   
            <div class="form-group">
                <label for="radius" class="col-lg-4 control-label">W promieniu (km): </label>
                <div class="col-lg-8">
                    <input type="number" min="0" max="1000" step="1" value="10" id="radius" class="form-control" ng-model="queryModel.searchAreaRadius"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-4">
                    <button type="submit" class="btn btn-primary" ng-click="findPlaceByName()">Szukaj</button>     
                    <button type="reset" class="btn btn-default">Wyczyść</button>                           
                </div>
            </div>
        </fieldset>
    </form>                
</div>
